#game-container, #overlay {
  position: absolute;
  left: calc(50% - 240px);
  top: calc(50% - 160px);
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 480px;
  height: 320px;
}

#overlay::after {
  content: 'Click to Play';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 320px;
  font-size: 25px;
  color: white;
  font-family: sans-serif;
}
